@model Khatra.Models.ChangePasswordViewModel
@using Khatra.Resources.ModelsResources
@using Khatra.Resources.ViewsResources

@{
    ViewBag.Title = global.ChangePassword;
}
<div class="changePassword">
    <div class="container">

        <div class="form">
            <h2 class="text-center">@ViewBag.Title</h2>
            
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", placeholder = fields.CurrentPassword })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", placeholder = fields.NewPassword })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = fields.ConfirmPassword })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <input type="submit" value="@global.ChangePassword" class="btn" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}